<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>person details</h1>
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>first name</th>
          <th>last name</th>
          <th>department</th>
          <th>salary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% for(let i in data) { %>
          <td><%= data[i] %></td>
          <% } %>
        </tr>
      </tbody>
    </table>

    <h1>edit person</h1>
    <form class="insert" action="/edit" method="get">
      <% for(let i in data) { %>
      <label for= <%= i %> > <%= i %></label>
      <input value=<%= data[i] %> id=<%= i %> name=<%= i %> />
      <% } %>
      <button type="submit" id="submit">edit</button>
    </form>
    <a href="/">home</a>
    <a href="getPerson"> get person</a>
    <a href="getall">get all</a>
  </body>
</html>
